#list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .toDoItem {
    box-shadow: 3px 3px 7px #271b0d;
    border-radius: 10px;
    padding: 15px;
  }

  #buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .completed {
    background-color: red;
    color: white;
    border-radius: 7px;
    width: fit-content;
    padding: 2px;
  }

  .pending {
    background-color: green;
    color: white;
    border-radius: 7px;
    width: fit-content;
    padding: 2px;
  }
}
